body {
  background-color: #2196f3;
  
}

form{
  margin-top:60px;
  padding: 20px;

  
}

form button,form h5{
  margin:20px;
  padding: 0;
}

#row-result
{
  background-image:url('https://thumbs.dreamstime.com/b/start-point-road-business-your-life-success-beginning-to-victory-up-148044371.jpg');
}
